@charset "utf-8";
/* CSS Document */

#logo{
	width:320px;
}
#panel{display:none}
@media all and (max-width: 800px) {
	#panel{display:block;float:right}
	#nav{display:none}
	#logo{width:150px;}
	.ui-corner-all img{width:80%;}
}